{% extends 'base.html' %}
{% block title %}Последние записи избранных авторов{% endblock %}
{% block content %}
  <div class="container py-5">
    {% include 'posts/includes/switcher.html' with follow=True %}
    <h1>Последние записи избранных авторов</h1>
    {% load cache %}
    {% cache 20 follow_page %}
    {% for post in page_obj %}
      {% include 'posts/includes/posts.html' %}
    {% endfor %}  
    {% endcache %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
