{% extends 'base.html' %}
{% block title %}Записи группы "{{ group.title }}"{% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>{{ group.description|linebreaksbr }}</p>
  {% load cache %}
  {% comment %} page_obj.number - для кеширования страниц пагинатора {% endcomment %}
  {% cache 20 group_page page_obj.number %}
    {% for post in page_obj %}
      {% include 'posts/includes/post.html' with hide_group=True %} 
      {% if not forloop.last %}<hr />{% endif %}
    {% endfor %}
  {% endcache %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
